html{
	padding: 10px 200px 40px 200px;
}
  
body {
	background-size: cover;
	font-family: 'ABeeZee', sans-serif;
	font-weight: 300; 
}

.header {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
}

a {
	text-decoration: none;
}

.nav-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 20px;
}

.nav-bar a {
	padding: 1.5em;
	color: #000;
}

.nav-bar a:hover { color: #5dc1b9; }

.active {
	animation: active 5s infinite;	
}

@keyframes active {
	0%{color: rgb(166, 94, 255);}
	50%{color: rgb(46, 250, 216);}
	100%{color: rgb(230, 132, 255);}
}  

.pic-and-text {
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.right{
	padding-left: 70px;
}

.img-left{
	margin-top: auto;
	margin-bottom: auto;
	margin-top: auto;
	margin-bottom: auto;
}

img#img-profile {
	max-width: 300px;
	box-shadow: 5px -4px 3.36px 0.14px rgba(0, 0, 0, 0.14);
	transition: 1s;
}

img#img-profile:hover {
	box-shadow: -5px 4px 3.36px 0.14px rgba(0, 0, 0, 0.14);
	transition: 1s;
	transform: rotate(-5deg)
}

.btn-download {
	text-align: center;
	padding: 15px;
}

.button-3d {
	position:relative;
	width: auto;
	color:#000;
	text-decoration:none;
	text-shadow: -1px -1px #5dc1b9;
	border-radius:5px;
	background:#46b3a9;
	text-align:center;
	font-size: 1.0em;
	padding:16px 18px 14px;
}

.button-3d:hover {
	position:relative;
	width: auto;
	color:#fff;
	text-decoration:none;
	text-shadow: 1px 1px #333;
	border-radius:5px;
	background:#317e77;
	text-align:center;
	font-size: 1.0em;
	padding:16px 18px 14px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	box-shadow: 5px -2px 5px 3px rgba(0, 0, 0, 0.14)
}

.text{
	max-width: fit-content;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 23px;
}

.footer{	
	z-index: 1;
	background-color: white;
	letter-spacing: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 35px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;	
}

strong > a {
	color: #5dc1b9;
}

.about-me, .beer{
	padding: 100px;
	justify-content: center;
}

.resume{
	padding-left: 90px;
	padding-top: 100px;
	justify-content: center;
	padding-right: 90px;
}

.women{	
	padding-top: 100px;
	justify-content: center;
	padding-bottom: 100px;
}

img#gender {
	padding-left: 50px;
}

/* .gif-gender {
	margin: auto;
} not decided yet xD*/

.text-and-gif {
  display: flex;
}

.wait-for-it{
	text-align: center;
}

p > a {
	color: #5dc1b9;
	text-decoration: none;
}

p > span {
	text-decoration: none;
	animation: rainbow 5s infinite;	
}

@keyframes rainbow {
	0%{color: #ff9acb;}
	20%{color:#fac146;}
	40%{color: #d3ca29;}
	60%{color: #87ca5a;}
	80%{color: #2fadbe;}
	100%{color: #ff9acb;}
}

/* timeline css */
/* vertical ruler */
.timeline {
	position: relative;
	margin: 0 auto;
	padding-bottom: 100px;	
}

/* vertical ruler */
.timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color:#000;
	top: 0;
	bottom: 0;
	left: 50%;
}

/* title and circle */
.content {
	padding-top: 1px;
	text-align: justify;
	padding-right: 50px;
}

/* container around content */
.container {
	position: relative;
	width: 50%;
}

/* circles */
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 3px solid #000;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

#star{
	padding-top:10px;
}

.challenge {
	text-align: center;
}

/* fix container to the left */
.left {
left: 0;
}

/* fix container to the right */
.right {
left: 50%;
}

/* fix the circle for containers on the right side */
.right::after {
left: -15px;
}
/* end timeline css */

@media screen and (max-width: 700px) {
	img#gender {
    display: none;
	}
}
